@keyframes animateText {
  from {
    background-position: center right;
    background-size: 400%;
  }

  to {
    background-position: center left;
    background-size: cover;
  }
}

.PageBanner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  background-image: url('../../images/panasonic.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.PageBannerContent {
  max-width: $max-content-width;
  z-index: 1;
  padding-top: $header-height;
  padding-left: $spacing;
  padding-right: $spacing;
  padding-bottom: $spacing;

  h1 {
    position: relative;
    font-family: 'Muli';
    font-size: 2.8rem;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 600;
    background: linear-gradient(90deg, $color-primary, $color-heading-neg);
    background-clip: text;
    opacity: 1;
    color: transparent;
    animation: animateText $animation-duration-long * 2 ease-in-out both;
    animation-delay: 1s;

    @include medium {
      font-size: 3.2rem;
    }

    @include large {
      font-size: 4rem;
    }
  }
}
