@keyframes animateLine {
  from {
    opacity: 0;
    transform: scaleX(0.5) translateX(0%);
  }

  to {
    opacity: 1;
    transform: scaleX(1) translateX(-50%);
  }
}

@keyframes animateText {
  from {
    background-position: center right;
    background-size: 400%;
  }

  to {
    background-position: center left;
    background-size: cover;
  }
}

.PageBanner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  background-image: url('../../images/placeholder_1.jpg');
  background-size: cover;
  background-position: center;

  @include medium {
    min-height: 100vh;
  }
}

.PageBannerContent {
  max-width: $max-content-width;
  z-index: 10;
  padding-top: $header-height;
  padding-left: $spacing;
  padding-right: $spacing;
  padding-bottom: $spacing;
  h1 {
    position: relative;
    font-family: 'Muli';
    font-size: 2.8rem;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 600;
    background: linear-gradient(90deg, $color-primary, $color-heading-neg);
    background-clip: text;
    margin-top: 0;
    margin-bottom: $spacing / 2;
    opacity: 1;
    color: transparent;
    animation: animateText $animation-duration-long * 2 ease-in-out both;
    animation-delay: 1s;

    @include medium {
      font-size: 3.2rem;
    }

    @include large {
      font-size: 4rem;
    }

    &:after {
      content: '';
      width: $spacing * 3;
      height: 6px;
      position: absolute;
      bottom: -$spacing;
      left: 50%;
      transform-origin: center;
      background-color: $color-primary;
      animation: animateLine $animation-duration-long ease-in-out both;
      animation-delay: 1s;

      @include medium {
        width: $spacing * 4;
      }
    }
  }

  p {
    margin-top: $spacing * 2;
  }
}
