.ButtonGroup {
  margin: 0 #{0 - $spacing-tight};

  &.spacingTight {
    margin: 0 #{0 - $spacing-tight / 2};
  }

  &.spacingLoose {
    margin: 0 #{0 - $spacing};
  }

  &.alignLeft {
    text-align: left;
  }

  &.alignCenter {
    text-align: center;
  }

  &.alignRight {
    text-align: right;
  }
}

.ButtonWrapper {
  display: inline-block;

  &.fullWidth {
    display: block;
    width: 100%;
  }

  &.uppercase {
    text-transform: uppercase;
  }

  .ButtonGroup & {
    margin: 0 $spacing-tight;
  }

  .ButtonGroup.spacingTight & {
    margin: 0 #{$spacing-tight / 2};
  }

  .ButtonGroup.spacingLoose & {
    margin: 0 $spacing;
  }
}

.Button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-left: $spacing;
  padding-right: $spacing;
  padding-top: $spacing-tight;
  padding-bottom: $spacing-tight;
  background-color: $color-btn-primary;
  color: $color-light-grey;
  letter-spacing: $letter-spacing;
  text-transform: uppercase;
  font-family: $font-family-secondary;
  font-size: $font-size-subscript;
  font-weight: $font-weight-regular;
  transition: transform $animation-duration-short ease-in,
    background-color $animation-duration ease-in-out;
  cursor: pointer;

  // get rid of default styling for inputs
  border: none;
  text-decoration: none;

  .ButtonWrapper.fullWidth & {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  &:focus,
  &:hover {
    transform: scale(1.05);
    background-color: lighten($color-btn-primary, 15);
  }

  &.ButtonSubdued {
    background-color: $color-button-subdued;
    color: $color-button-primary-text;
  }
}
