.Layout {
  position: relative;
  overflow-x: hidden;

  &.HamburgerMenuActive {
    height: 100vh;
    overflow: hidden;
  }
}

.Content {
  overflow: auto;
  opacity: 1;
  transition: transform $animation-duration-long ease-in-out,
    opacity $animation-duration-long ease-in-out;

  .HamburgerMenuActive & {
    opacity: 0.5;
    transform: translateX(calc(var(--navigation-width) / -1.5));
  }
}

.Footer {
  opacity: 1;
  transition: transform $animation-duration-long ease-in-out,
    opacity $animation-duration-long ease-in-out;
  .HamburgerMenuActive & {
    opacity: 0.5;
    transform: translateX(calc(var(--navigation-width) / -1.5));
  }
}
