@keyframes fadeInFull {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.Layout {
  position: relative;
  overflow-x: hidden;
}

.Content {
  overflow: auto;
  opacity: 1;
  animation: fadeInFull $animation-duration-long ease-in-out forwards;
  transition: transform $animation-duration-long ease-in-out,
    opacity $animation-duration-long ease-in-out;

  .HamburgerMenuActive & {
    opacity: 0.5;
    transform: translateX(calc(var(--navigation-width) / -1.5));
    animation: none;
  }
}

.Footer {
  opacity: 1;
  transition: transform $animation-duration-long ease-in-out,
    opacity $animation-duration-long ease-in-out;
  .HamburgerMenuActive & {
    opacity: 0.5;
    transform: translateX(calc(var(--navigation-width) / -1.5));
    animation: none;
  }
}
