.List {
  position: relative;
  padding-left: $spacing;
  margin-top: $spacing-tight / 2;
  margin-bottom: $spacing-tight / 2;
  list-style: disc outside none;

  &.ordered {
    list-style: decimal;

    .List {
      list-style: decimal;
    }
  }

  &.noPadding {
    padding: 0;
  }

  &.noBullets {
    list-style: none;
  }

  &:first-child {
    margin-top: 0;
  }
}

.ListItem {
  position: relative;
  color: $color-text;
  margin-bottom: $spacing-tight / 2;
  line-height: $line-height;

  &:last-child {
    margin-bottom: 0;
  }

  .List:first-child {
    margin-top: $spacing-tight / 2;
  }
}

.ListItemBullet {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 50%;
  transform: translate(-100%, -50%);
  padding-right: $spacing-tight / 2;
}
