$menu-height: 27px;
$menu-width: 27px;

.HamburgerMenu {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: space-between;
  padding: $spacing-tight;
  min-height: $menu-height;
  min-width: $menu-width;
  cursor: pointer;
}

.LineBottom,
.LineMiddle,
.LineTop {
  height: $menu-height / 5;
  width: 100%;
  background-color: black;
}

.LineMiddle {
  width: 100% * 2 / 3;
}

.LineBottom {
  width: 100% * 1 / 3;
}
