$menu-height: 27px;
$menu-width: 27px;

.HamburgerMenu {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  min-height: $menu-height;
  min-width: $menu-width;
  cursor: pointer;
}

.DarkModeActive {
  background: yellow;
}

.LineBottom,
.LineMiddle,
.LineTop {
  height: $menu-height / 5;
  width: 100%;
  background-color: black;
  transition: transform $animation-duration ease-out;

  .DarkModeActive & {
    background-color: $color-white;
  }
}

.LineMiddle {
  transform: translateX(33.33%);

  .HamburgerMenu:hover & {
    transform: translateX(0);
  }
}

.LineBottom {
  transform: translateX(66.66%);

  .HamburgerMenu:hover & {
    transform: translateX(0);
  }
}
