@keyframes fadeInScrambleText {
  from {
    color: rgba(0, 0, 0, 0);
    transform: scale(1.6);
  }

  to {
    color: rgba($color-heading, 1);
    transform: scale(1);
  }
}

@keyframes fadeInHeroText {
  from {
    opacity: 0;
    transform: translateY(calc(#{$spacing * 2} + 50%));
  }

  to {
    opacity: 1;
    transform: translateY($spacing);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.HeroSection {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - #{$spacing * 2});
  width: 100%;
  background-color: $color-light-grey;
}

.Hypnotize {
  text-align: center;
  padding-left: $spacing;
  padding-right: $spacing;
  max-width: calc(100vw - #{$spacing * 2});
  transform: translateY(calc(#{$spacing} + 15%));

  h1 {
    font-size: 1.3rem;
    font-family: 'Muli';
    letter-spacing: 5px;
    font-weight: 600;
    color: transparent;
    background-repeat: repeat;
    background-size: $font-size;
    background-clip: text;
    background-image: url('../../images/hypnotize-background.png');
    margin-top: 0;
    margin-bottom: $spacing / 2;
    opacity: 1;
    z-index: 2;
    word-wrap: break-word;
    word-break: break-all;
    color: rgba($color-text, 0);
    transform: scale(1.6);
    animation: fadeInScrambleText $animation-duration-long 1.5s ease-in-out
      forwards;
  }
}

.Tagline {
  p {
    opacity: 0;
    animation: fadeInHeroText $animation-duration-long ease-in-out forwards;
    animation-delay: 1.5s;
    color: $color-heading;
    font-size: $font-size-h1 * 1.2;
  }
}

.AboutSection {
  padding-bottom: $spacing;
  background-color: $color-light-grey;

  @include small {
    padding-bottom: $spacing * 2;
  }

  .Heading {
    position: relative;
    z-index: 10;
    h1 {
      text-transform: uppercase;
      font-family: 'Muli';
      font-weight: 700;
      font-size: 5rem;
      letter-spacing: 6px;
      color: $color-heading;
      position: absolute;
      top: 0;
      left: 0;
      margin: 0;
      transform: translate(0, -60%);
      opacity: 0;
      animation: fadeIn $animation-duration-long 2s ease-in-out forwards;
      padding-left: $spacing;
      padding-right: $spacing;

      @include large {
        padding-left: $spacing * 2;
        padding-right: $spacing * 2;
      }
    }
  }

  .Content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: $spacing $spacing;
    padding-top: $spacing * 1.5;
    background: $color-primary;
    min-height: 400px;
    height: 100%;
    opacity: 0;
    animation: fadeIn $animation-duration-long 2s ease-in-out forwards;

    @include large {
      flex-direction: row;
      padding: $spacing * 2 $spacing * 2;
    }

    .Text {
      flex-basis: calc(50% - #{$spacing / 2});
      display: flex;
      align-items: center;
    }

    .Image {
      margin-bottom: $spacing;
      flex-basis: calc(50% - #{$spacing / 2});

      @include large {
        margin-bottom: 0;
      }

      img {
        max-height: 360px;
        object-fit: cover;

        @include large {
          max-height: 100%;
        }
      }
    }
  }
}
