.CardContainer {
  display: flex;
  margin: neg($spacing-tight);

  &.spacingTight {
    margin: 0 neg($spacing-tight/2);
  }

  &.spacingLoose {
    margin: 0 neg($spacing);
  }

  &.directionRow {
    flex-direction: row;
  }

  &.directionColumn {
    flex-direction: column;
    margin: 0;
  }
}

.CardWrapper {
  flex: 1;
  background: #f8f8f8;
  @include box-shadow;

  .CardContainer & {
    margin: 0 $spacing-tight;
  }

  .spacingTight & {
    margin: 0 $spacing-tight/2;
  }

  .spacingLoose & {
    margin: 0 $spacing;
  }

  .directionColumn &,
  .directionColumn.spacingNormal &,
  .directionColumn.spacingTight &,
  .directionColumn.spacingLoose & {
    margin: 0;
    margin-bottom: $spacing;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .directionColumn.spacingNormal & {
    margin-bottom: $spacing;
  }

  .directionColumn.spacingTight & {
    margin-bottom: $spacing-tight;
  }

  .directionColumn.spacingLoose & {
    margin-bottom: $spacing-loose;
  }
}

.Card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: $spacing 0;

  &.directionColumn {
    flex-direction: column;
  }

  &.directionRow {
    flex-direction: column;
    margin: $spacing;

    .CardImageWrapper {
      margin-right: 0;
      margin-bottom: $spacing;
    }

    @include small {
      flex-direction: row;

      .CardImageWrapper {
        margin-right: $spacing;
        margin-bottom: 0;
      }
    }
  }

  &.directionRow.noWrap {
    flex-direction: row;

    .CardImageWrapper {
      margin-right: $spacing;
    }
  }
}

.CardContent {
  flex: 1;
  max-width: calc(100% - #{$spacing * 2});
}

.CardImageWrapper {
  margin-bottom: $spacing;
  max-width: calc(100% - #{$spacing * 2});

  .directionColumn & {
    margin-bottom: 0;
    margin-right: $spacing;
  }

  img {
    width: 100%;
  }
}
