.FooterGrid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: $spacing * 2;

  @include medium {
    grid-gap: $spacing * 3;
    grid-template-columns: repeat(3, 1fr);
  }

  @include large {
    grid-gap: $spacing * 4;
  }
}

.FooterItem {
  max-width: 420px;
  width: 100%;
  margin: 0 auto;
}
