.Footer {
  background-color: $color-dark-grey;
  padding-top: $spacing;

  @include medium {
    padding-top: $spacing * 4;
  }
}

.FooterGrid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: $spacing;

  @include medium {
    grid-gap: $spacing * 2;
    grid-template-columns: repeat(3, 1fr);
  }
}

.FooterItem {
  width: 100%;
  margin: 0 auto;
}

.Copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  height: $spacing * 2;

  @include medium {
    height: $spacing * 4;
  }
}
