.Heading {
  display: block;
  margin-bottom: $spacing-tight;
  line-height: $line-height;

  &:first-of-type {
    margin-top: 0;
  }

  &.Heading1 {
    font-size: $font-size-xlarge;
  }

  &.Heading2 {
    font-size: $font-size-large;
  }

  &.Heading3 {
    font-size: $font-size-medium;
  }

  &.Heading4 {
    font-size: $font-size;
  }

  &.Heading5,
  &.Heading6 {
    font-size: $font-size-small;
  }
}

.upperCase {
  text-transform: uppercase;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
}

.center {
  text-align: center;
}

.spaceUnderTight {
  margin-bottom: $spacing-tight;
}

.spaceUnderLoose {
  margin-bottom: $spacing-loose;
}

.spaceUnderExtraLoose {
  margin-bottom: $spacing-extra-loose;
}
