.HeroContainer {
  height: calc(100vh - #{$header-height});

  & > div {
    display: flex;
    align-items: center;
    height: 100%;
    transform: translateY(-$header-height/2);
  }

  h1 {
    font-size: 36px;
    width: 100%;
    text-shadow: -2px 2px 0px rgba($color-heading, 0.4);
    text-transform: uppercase;

    @include small {
      font-size: 52px;
    }

    @include medium {
      font-size: 64px;
    }

    @include large {
      font-size: 72px;
    }

    @include xlarge {
      font-size: 80px;
    }
  }
}
