.HeroContainer {
  height: 100vh;

  & > div {
    display: flex;
    align-items: center;
    height: 100%;
  }

  h1 {
    font-size: 36px;
    width: 100%;
    text-shadow: -2px 2px 0px rgba($color-heading, 0.4);
    text-transform: uppercase;

    @include small {
      font-size: 52px;
    }

    @include medium {
      font-size: 64px;
    }

    @include large {
      font-size: 72px;
    }

    @include xlarge {
      font-size: 80px;
    }
  }
}

.FirstSection {
  display: flex;
  background-color: $color-white;
}

@keyframes bgAnimation {
  0% {
    background-position: center left;
  }

  100% {
    background-position: center right;
  }
}

.Hypnotize {
  flex: 1;
  position: relative;
  height: 100vh;
  background-color: $color-black;

  h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
    font-size: $font-size-xlarge;
    color: transparent;
    background-repeat: repeat;
    background-size: 120px;
    background-clip: text;
    background-image: url('../images/hypnotize-background.png');
    animation: bgAnimation 20s linear infinite;
    opacity: $translucent;
  }
}
