.HeroSection {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes bgAnimation {
  0% {
    background-position: center left;
  }

  100% {
    background-position: center right;
  }
}

.Background {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  width: 50vw;
  height: 50vw;
  max-width: 300px;
  max-height: 300px;
}

.Hypnotize {
  text-align: center;
  padding-left: $spacing;
  padding-right: $spacing;
  z-index: 100;

  h1 {
    font-size: $font-size-large - 0.2;
    color: transparent;
    background-repeat: repeat;
    background-size: $font-size-small * 4;
    background-clip: text;
    background-image: url('../images/hypnotize-background.png');
    animation: bgAnimation 36s linear infinite;
    margin-top: 0;
    margin-bottom: $spacing / 2;
    opacity: 0.8;
    z-index: 1;

    @include medium {
      background-size: $font-size-small * 5;
      font-size: $font-size-xlarge;
    }

    @include large {
      font-size: $font-size-xlarge * 1.2;
    }
  }

  p {
    font-size: $font-size-small;
    color: $color-text-neg;
    letter-spacing: $letter-spacing;
    background-color: rgba($color-black, 0.8);
    padding-top: $spacing / 2;
    padding-bottom: $spacing / 2;
  }
}
