.Section {
  position: relative;
  margin-top: $spacing * 2;
  margin-bottom: $spacing * 2;
  transition: background-color $animation-duration ease-in;

  @include large {
    margin-top: $spacing * 4;
    margin-bottom: $spacing * 4;
  }
}
