@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY($spacing * 2);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@mixin fadeInUpOnScroll {
  opacity: 0;
  transform: translateY($spacing * 2);
  animation: fadeInUp $animation-duration-long ease-in-out forwards;
  animation-play-state: paused;

  *[data='scroll--animate'] & {
    animation-play-state: running;
  }

  &[data='scroll--animate'] {
    animation-play-state: running;
  }
}

.ProjectsContainer {
  position: relative;
  margin-top: $header-height;
}

.Project {
  display: flex;
  flex-direction: column;
  margin-bottom: $spacing-loose;
  overflow-y: hidden;

  @include medium {
    flex-direction: row;
  }
}

.ProjectImageContainer {
  @include medium {
    flex: 3;

    .Project:nth-child(odd) & {
      order: 1;
    }
  }
}

.ProjectContentContainer {
  @include medium {
    flex: 2;
    display: flex;
    align-items: center;
    margin-left: -60px;
    z-index: 10;

    .Project:nth-child(odd) & {
      order: 0;
      text-align: right;
      justify-content: flex-end;
      margin-left: 0;
      margin-right: -60px;

      .Tag {
        margin-right: 0;
        margin-left: $spacing-tight;
      }
    }
  }
}

.ProjectContent {
  background: rgba($color-bg, 0.75);
  padding: $spacing 0;

  @include medium {
    padding: $spacing;
  }
}

.ProjectImage {
  @include fadeInUpOnScroll();
}

.Tag {
  background-color: $color-primary;
  padding: $spacing-tight / 2;
  margin-right: $spacing-tight;
}
