.ProjectsContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: $spacing;

  @include large {
    grid-template-columns: repeat(2, 1fr);
  }
}

.Project {
  position: relative;
}
