$menu-height: $spacing;
$menu-width: $spacing;
$line-height: $menu-height / 5;

.HamburgerMenu {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  min-height: $menu-height;
  min-width: $menu-width;
  max-height: $header-height / 2;
  max-width: $header-height / 2;
  cursor: pointer;
}

.LineBottom,
.LineMiddle,
.LineTop {
  height: $line-height;
  width: 100%;
  background-color: $color-black;
  transition: transform $animation-duration ease-out,
    background-color $animation-duration ease-in-out;

  .DarkModeActive & {
    background-color: rgba($color-light-grey, $translucent);
  }

  .DarkModeActive:hover & {
    background-color: rgba($color-primary, $opaque);
  }

  .HamburgerMenuActive &,
  .HamburgerMenuActive:hover & {
    background-color: $color-black;
  }
}

.LineMiddle {
  transform: translateX(33.33%);

  .HamburgerMenu:hover & {
    transform: translateX(0);
  }

  .HamburgerMenuActive &,
  .HamburgerMenuActive:hover & {
    transform: scale(0);
  }
}

.LineTop {
  .HamburgerMenuActive &,
  .HamburgerMenuActive:hover & {
    transform: translate(0, $menu-height/2 - $line-height/2) rotate(-135deg);
  }

  .HamburgerMenuActive:hover & {
    background-color: $color-error;
  }
}

.LineBottom {
  transform: translateX(66.66%);

  .HamburgerMenu:hover & {
    transform: translateX(0);
  }

  .HamburgerMenuActive &,
  .HamburgerMenuActive:hover & {
    transform: translate(0, -$menu-height/2 + $line-height/2) rotate(135deg);
  }

  .HamburgerMenuActive:hover & {
    background-color: $color-error;
  }
}
