.NavigationContainer {
  z-index: $z-header - 1;
  overflow-x: hidden;
  position: fixed;
  right: 0;
  top: 0;
  width: var(--navigation-width);
  height: 100%;
  transform: translateX(100%);
  transition: transform $animation-duration ease-in-out;

  &.HamburgerMenuActive {
    transform: translateX(0);
  }
}

.NavigationBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

@mixin delayAnimationByChild {
  @for $i from 1 through 10 {
    &:nth-child(#{$i}) {
      transition-duration: calc(#{$animation-duration-long} + #{$i * 0.1s});
      background: rgba($color-dark-grey, $i * 0.15);
    }

    &:nth-child(1) {
      background: $color-primary;
    }
  }
}

.NavigationBackgroundLayer {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: rgba($color-primary, 0.2);
  transform: translateX(var(--navigation-width));
  transition: transform $animation-duration-long ease-in-out;
  @include delayAnimationByChild;

  .HamburgerMenuActive & {
    transform: translateX(0);
  }
}

.Navigation {
  height: 100%;
  opacity: 0;
  transform: translate(50%);
  transition: opacity $animation-duration-long * 2 ease-in-out,
    transform $animation-duration-long ease-in-out;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;

  .HamburgerMenuActive & {
    opacity: 1;
    transform: translate(0);
  }
}

.NavigationLinks {
  flex: 1;
  padding: $spacing;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;

  a {
    font-family: $font-family-secondary;
    font-size: $font-size-h1 * 1.3;
    text-transform: uppercase;
    font-weight: $font-weight-bold;
    letter-spacing: $letter-spacing;
    margin: $spacing-tight 0;

    &::before {
      height: 4px !important;
    }

    &::after {
      height: 4px !important;
    }
  }
}

.Social {
  padding: $spacing;
}
