.Header {
  height: $header-height;
  position: fixed;
  left: 50%;
  top: 0;
  transform: translateX(-50%);

  & > div {
    height: 100%;
    display: flex;
    align-items: center;
  }
}

.HeaderContent {
  display: flex;
  height: 100%;
}

.LogoContainer {
  display: flex;
  align-items: center;

  svg {
    height: $header-height - 2 * $spacing;
  }
}

.HamburgerMenuWrapper {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.HamburgerMenu {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  padding: $spacing-tight;
  height: 21px;
  width: 30px;
  cursor: pointer;
}

.LineBottom,
.LineTop {
  height: 3px;
  width: 30px;
  background-color: black;
}
