.Header {
  height: $header-height;
  width: 100%;
  position: fixed;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  z-index: $z-header;

  & > div {
    height: 100%;
    display: flex;
    align-items: center;
  }
}

.HeaderContent {
  display: flex;
  height: 100%;
}

.LogoContainer {
  display: flex;
  align-items: center;
  cursor: pointer;

  svg {
    stroke: $color-black;
    fill: $color-black;
  }

  &.DarkModeActive {
    svg {
      stroke: rgba($color-light-grey, $translucent);
      fill: rgba($color-light-grey, $translucent);
      transition: stroke $animation-duration ease-in-out,
        fill $animation-duration ease-in-out;
    }
  }

  &.DarkModeActive:hover {
    svg {
      stroke: rgba($color-light-grey, $opaque);
      fill: rgba($color-light-grey, $opaque);
    }
  }

  svg {
    height: $spacing;
    max-height: $header-height / 2;
  }
}

.CompanyName {
  flex: 1;
}

.HamburgerMenuWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.HamburgerMenu {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  padding: $spacing-tight;
  height: 21px;
  width: 30px;
  cursor: pointer;
}

.LineBottom,
.LineTop {
  height: 3px;
  width: 30px;
  background-color: $color-black;
}
