.Link {
  color: $color-text;
  font-family: $font-family-secondary;
  font-size: $font-size-subscript;
  text-transform: uppercase;
  letter-spacing: $letter-spacing;
  padding: $spacing-tight;
  position: relative;
  display: inline-block;

  a {
    display: inline-block;
    font-weight: $font-weight-bold;
    transition: transform $animation-duration ease-in-out;
  }

  &:hover {
    a {
      transform: translateY(20%);
    }
  }

  &:after {
    content: '';
    height: 2px;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0);
    position: absolute;
    background: $color-text;
    width: 50%;
    transition: width $animation-duration ease-in-out;
  }

  &:hover:after {
    width: 100%;
  }
}
