.Background {
  position: absolute;
  z-index: $z-background;
  width: 100%;
  height: 100vh;
  background-color: $color-primary;
  overflow: hidden;

  p {
    color: white;
    opacity: 0.3;
    max-height: calc(100vh - 40px);
    overflow: hidden;
    text-align: justify;
  }
}

.BackgroundContent {
  padding: $spacing;

  p {
    margin: 0;
    font-weight: $font-weight-black;
    font-size: $font-size-small;

    @include xlarge {
      font-size: calc(#{$font-size-medium} + 0.5vw);
    }
  }
}

.HamburgerActive {
  p {
    opacity: 0.4;
  }
}
